body {
    padding: 0;
    margin: 0;
    font-family: 'Allerta';
    font-size: 24px;
    background-color: #565b61;
}

footer {
    padding: 10px;
    background-color: #262a2e;
    color: #9a9da0;
    font-family: 'Allerta';
    font-size: 16px;
}

.navBar { 
    background-color: #262a2e;  
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar div {
    margin-right: 3px;
    color: white;
    background-color: #353a40; /*272b30 && 343a40 */
    width: 200px;
    text-align: center;
    padding: 5px;
}

.navBar div a {
    text-decoration: none;
    color: #9a9da0;
    transition: .15s;
}

.navBar div a i {
    margin-right: 4px;
}

.navBar div a:hover {
    color: #ffffff;
    transition: .15s;
}

.navBar div a.home:hover {
    color: #14c3fd;
}

.navBar div a.effectivity:hover {
    color: #fd7e14;
}

.navBar div a.bibliography:hover {
    color: #14fd82;
}

.navBar div a.impact:hover {
    color: #fd2414;
}

.navBar div a.history:hover {
    color: #e414fd;
}

/* Used for text items */
.homeColor {
    color: #14c3fd;
}

.effectivityColor {
    color: #fd7e14;
}

.bibliographyColor {
    color: #14fd82;
}

.impactColor {
    color: #fd2414;
}

.historyColor {
    color: #e414fd;
}
.photoOfMe {
    float:right; 
    width: 20%; 
    max-width: 210px;
    margin-left: 5%;
    margin-top: .5%;
}

.centerContent {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Allerta';
    color:#9a9da0;
    line-height: 160%;
}

.headImg {
    width: 100%;
}